* { 
  margin: 0;
  padding: 0px;
    font-family: 'Lato', sans-serif;
} 
body { 
  background: #fff; 
  margin: 0; 
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
  font-weight: 700;
}

@media (max-width: 1133px) and (min-width: 992px ) {
  .container {
    max-width: 85%;
  }
  #main p {
    font-size: 1.5em;
  }
}
p { 
  padding: 0; 
  margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 25px; 
  line-height: 34px;
  color: #666; 
  margin-top: 10px; 
}

html,
body {
  height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}
.centered {text-align: center}
.mt {
  margin-top: 50px;
  @media (max-width: 767px) {margin-top: 30px;}
}
.mb {margin-bottom: 50px; @media (max-width: 767px) {margin-bottom: 30px;}
}
.pb {padding-bottom: 50px;@media (max-width: 767px) {padding-bottom: 30px;}}
.mtb {margin-top: 50px; margin-bottom: 50px; @media (max-width: 767px) {margin-top: 30px; margin-bottom: 30px;}}
.ptb {padding-top: 80px; padding-bottom: 80px; @media (max-width: 767px) {padding-top: 50px; padding-bottom: 50px;}}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width:100%;
}
::-moz-selection  {
  color: #fff;
  text-shadow:none;
  background:#2B2E31;
}
::selection {
  color: #fff;
  text-shadow:none;
  background:#2B2E31;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a { 
  padding: 0;
  margin: 0;
  text-decoration: none; 
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.btc-banner {
  //height: 500px;
  // overflow: hidden;
  //background: #ff6 url('../img/btc-banner.png') no-repeat center center;
  background-size: cover;
  padding-top:40px;
}

#main .btc-banner img {
  margin: 0 auto;
  @extend .fadeInUp;


  @media (max-width: 767px) {
    max-width:200px;
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

ul {
  font-size: 1.5em;
  padding-left: 2em;
  font-weight: 300;
}
ul li {
  margin-bottom: 1em;
}

#main, #highlights-container {
  background: #ff6;
  text-align: center;
}

#highlights-container, #highlights {
  @media (max-width: 767px) {
    display:none;
  }
}

#main h1 {
  font-size: 3.7em;
  font-weight: 300;
  line-height: 1;
  margin-top:0.5em;
  color: #444;

  @media (max-width: 400px) {
    font-size: 2em;
  }
}

#main h3 {
  font-size: 2em;
  font-weight: 900;
  color: #444;
  line-height: 1;
}
#main .logos {
  margin-top: 1.5em;
}
#main .logos img {
  margin-right:15px;
  &:last-child {
    margin-right: 0;
  }
}

/* White Section */

#ws {
  color: #444;
}

#ws h1 {
  font-size: 3.7em;
  font-weight: 300;
  line-height: 1.2;

  @media (max-width: 767px) {
    font-size: 2em;
  }
}

#ws h2 {
  font-size: 2.6em;
  font-weight: 300;
  line-height: 1.3;
  color: #929292;

  @media (max-width: 767px) {
    font-size: 1.5em;
  }
}

#ws p {
  line-height:1.5;


  @media (max-width: 767px) {
    font-size: 1.2em;
  }
}
#ws .icn {
  margin-top: 40px;
  display: block;
}

.icn {
  font-size: 70px;
  margin-right: 15px;
}

.icn2 {
  font-size: 60px;
  margin-right: 15px;
}

#ws .price {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 3px solid #929292;
  margin-bottom: 20px;
}

#ws .price h1 {
  font-weight: 700;
  font-size: 70px;
}

#ws .price h6 {
  font-size: 16px;
  font-weight: 300;
}

#ws .price p {
  font-size: 22px;
}

#ws .price .btn-trans {
  color: #444;
  background-color: transparent;
  border-color: #444;
  border-width: 2px;
  font-weight: 700;
  font-size: 20px;
}

#ws .price .btn-trans:hover {
  background: #ff6
}

/* Call Tool Section */

.call-tool {
  padding-top: 20px;
  padding-bottom: 50px;
  background: #3a3a3a;
  color: #999;
  }

.call-tool .script {
  background-color: #ddd;
  color: #111;
  text-align: left;
  margin-top: 30px;

  @media (max-width: 767px) {
    padding:20px;
  }

  .script-container {
    h3 {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 1.2em;
    }
    p {
      font-weight: normal;
      color: #777;
    }
  }
}

.call-tool p {
  color: #888;
  @media (max-width: 400px) {
    font-size: 1.5em;
    line-height: 1.1;
  }
}

.call-tool h2 {
  color: #eee;
  font-size:40px;

  @media (max-width: 400px) {
    font-size: 1.5em;
  }
}

.call-tool .form {
  margin-top: 0;
  text-align: left;
}

.call-tool .form-group {
  margin-top:25px;
}

.call-tool label {
  font-size: 1.5em;
  color: #fff;
  font-weight:400;
  @media (max-width: 767px) {
    font-size: 1.2em;
  }
}

.call-tool input {
  font-size: 18px;
  min-height: 40px;
  border-radius: 0px;
  line-height: 20px;
  padding: 11px 10px 12px;
  border: 2px solid #e9f0f2;
  margin-bottom: 10px;
  background-color: transparent;
  color: $yellow;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;

  @media (max-width: 767px) {
    font-size: 18px;
    min-height: 30px;
    margin-bottom: 0;
  }
}

.call-tool i.form-control-feedback {
  top: 35px;
}

.call-tool .subscribe-input {/*
  float: left;
  width: 70%;
  text-align: left;
  margin-right: 2px;*/
}

.call-tool .subscribe-submit {
  right: 0;
}

.call-tool .btn-yellow {
  color: #444;
  background-color: #ff6;
  border-color: #444;
  border-width: 2px;
  border-radius: 0;
  font-weight: 700;
  padding: 10px 30px;
  font-size: 30px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  cursor: hand;

  &:hover {
    background-color: #7FC9FE;
    cursor: pointer;
    cursor: hand;
  }
}

.post-submit {
  span.tryagain { 
    cursor: pointer;
    cursor: hand;
    &:hover {
      text-decoration: underline;
    }
  }
  .share {
    margin-top: 2em;
  }
  .share button {
    margin-bottom: 10px;
    display:block;
  }
}
.post-submit.top {
  margin-top:30px;
  p {
    color: #aaa;
  }
  span.tryagain {
    color: #fff;
  }
  h3 {
    color: #fff;
    font-weight: 400;
  }
}
.post-submit.bottom {
  span.tryagain {
    font-weight:bold;
  }
}

.post-submit .share.revealAfter20Seconds {
  @extend .reveal;
  animation-delay: 15s;
}


#explanation {
  h3 {
    margin-top: 60px;
    @media (max-width: 767px) {margin-top: 30px; }
  }
}


//==================
// Side Call Tool
//==================

#explanation .side-call-tool {
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin-top: 40px;
  h3 {
    margin-top:10px;
  }
  p {
    font-size: 18px;
  }
}

.side-call-tool .script {
  background-color: #ddd;
  padding:5px 15px;
  margin-bottom: 20px;
  h3 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1em;
  }
}


//==================
// Footer
//==================

footer {
  background-color: #eee;
  padding: 50px 0;
  text-align: right;

  p {
    font-size: 1.2em;
    line-height: 1;
  }
}

